@import '../../styles/globals.scss';


.container{
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        h2{
            text-align: center;
            font-family: $font-title;
            font-size: 26px;
        }
        img{
            border: 3px solid $forth-color;
            border-radius: 10px;
            padding: 3px;
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

    .formUpdate{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 360px;
        justify-content: center;
        align-items: flex-start;

        label{
            margin-top: 15px;
            font-family: $font-text;
        }
        input {
            width: 100%;
            padding: 15px 0px;
            margin-bottom: 10px;
            font-size: 1.2rem;
            background-color: transparent;
            color: $forth-color;
            border: 0;
            border: 1px solid $forth-color;
        }
        input:disabled{
            background-color: rgb(164, 164, 164);
        }
        button{
            margin-top: 10px;
            width: 100%;
            padding: 5px 15px;
            background-color: $secondary-color;
            border: 0;
            font-size: 1.4rem;
            color: $primary-color;
        }
    }
    .changePass{
        margin-top: 30px;
        width: 100%;
        max-width: 360px;
        padding: 5px 15px;
        background-color: $secondary-color;
        border: 0;
        font-size: 1.4rem;
        color: $primary-color;

    }
    .deleteAcc{
        margin-top: 10px;
        width: 100%;
        max-width: 360px;
        padding: 5px 15px;
        background-color: $alert-color;
        border: 0;
        font-size: 1.4rem;
        color: $forth-color;
    }
}

@include mobile {
    .container {
        .formUpdate{
            width: 330px;
        }
        .changePass{
            width: 330px;
        }
        .deleteAcc{
            width: 330px;
        }
    }
    

}