@import '../../../styles/globals.scss';

.transparent{
  background-color: transparent;
  transition: all .5s linear;
}
.colored{
  background-color: $primary-color;
  transition: all .5s linear;

}

.bgColor {
  z-index: 20000;
  border-bottom: 1px solid $forth-color;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;

  .menu{
    position: fixed;
    right: 0;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

  nav{
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 15px;

      li {
        list-style-type: none;
        a{
          padding: 5px;
          text-decoration: none;
          font-family: $font-text;
          font-size: 1.2rem;
          font-weight: 300;
          text-shadow: black 2px 2px 2px;
          border: 1px solid transparent;
          transition: .2s ease-in-out all;
          
        }
        a:hover{
          background-color: $primary-color;
          border: 1px solid $secondary-color;
          color: $secondary-color;
        }
      }
    }
  }
  .btnGroup {
    display: flex;
    gap: 5px;
    font-family: $font-text;
    font-size: 1.4rem;

    .btnSignIn{
      padding: 10px 5px;
      text-decoration: none;
      border: 1px solid transparent;
      text-shadow: black 2px 2px 2px;
      transition: .2s ease-in-out all;
    }
    .btnSignIn:hover{
      background-color: $primary-color;
      border: 1px solid $secondary-color;
      color: $secondary-color;
      
    }

    .btnSignUp{
      padding: 10px;
      background-color: $secondary-color;
      box-shadow: 1px 1px 1px black;
      color: $primary-color;
      text-decoration: none;
      border: 1px solid $primary-color;
      transition: .2s ease-in-out all;
    }
    .btnSignUp:hover{
      background-color: $primary-color;
      border: 1px solid $secondary-color;
      color: $secondary-color;
    }

  }
}

  .logoArea {
    width: fit-content;
    text-wrap: nowrap;
    margin-left: 15px;
    max-width: 200px;
    height: 100%;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      padding: 0;
      font-family: $font-title;
      font-size: 1.8rem;
      font-weight: 900;
      color: $secondary-color;
      text-shadow: black 2px 2px 2px;
    }
  }
}

.hambMenu {
  cursor: none;
  visibility: none;
  opacity: 0;
  position: fixed;
  & li {
    list-style-type: none;
  }
}

@include tablet-and-mobile {
  .hambMenu {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 0;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    li {
      width: 100%;
      list-style: none;
      border: 1px solid $secondary-color;
      transition: all 0.2s ease-in-out;
    }
  }
.hambMenu.active{
      .one {
        transform: translateY(10px) rotate(45deg);
      }
      .two {
        transform: translateY(-10px) rotate(-45deg);
      }
      .hidden {
        opacity: 0;
        visibility: hidden;
      }
  }

  .menu{
    visibility: hidden;
    opacity: 0;
  }
  .menu.active{
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 60px;
    background-color: $primary-color;
    border: 1px solid $forth-color;
    right: 0;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin: 0;

    nav{
      width: 100%;
      margin-top: 2px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;

      ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $primary-color;

        align-items: center;
        justify-content: center;

        li{
          margin: 0;
          width: 100%;
          height: 100%;
          max-height: 200px;
          background-color: $primary-color;
          display: flex;
          align-items: center;
          justify-content: center;
          a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.0rem;
            margin: 0;
            padding: 0;
            width: 90%;
            height: 100%;
            max-height: 200px;
            border-bottom: 1px solid $forth-color;
          }
        }

      }

    }
    .btnGroup{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $primary-color;
      width: 100%;
      height: 80%;
      font-size: 2rem;

      .btnSignIn{
        width: 90%;
        border: 1px solid $secondary-color;
        height: 100%;
        max-height: 100px;
        background-color: $primary-color;
        color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
      .btnSignIn:hover{
        background-color: $secondary-color;
        color: $primary-color;
      }
      .btnSignUp{
        width: 90%;
        height: 80%;
        max-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: 1px solid $secondary-color;
      }
    }
  }
}
