@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

$DESKTOP_MIN: 1008px;
$TABLET_MAX: 1007px;
$TABLET_MIN: 641px;

$MOBILE_MAX: 640px;


//$primary-color: #404B69;
//$bg-color: #283149;
//$alert-color: rgb(149, 6, 32);
//
//$secondary-color: #46BCAD;
//$third-color: #00818A;
//$forth-color: #DBEDF3;

$primary-color: #091722;
$bg-color: #03020A;
$alert-color: rgb(149, 6, 32);

$secondary-color:#a3fdff;
$third-color: #073646;
$forth-color: #d5ddec;



$font-text: 'Roboto', sans-serif;
$font-title: 'Saira',sans-serif;

