@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap');

$DESKTOP_MAX: 1440px;
$DESKTOP_MIN: 1050px;
$TABLET_MAX: 1049px;
$TABLET_MIN: 744px;
$MOBILE_MAX: 743px;
$MOBILE_MIN: 320px;


$primary-color: #404B69;
$bg-color: #283149;
$alert-color: rgb(149, 6, 32);

$secondary-color: #46BCAD;
$third-color: #00818A;
$forth-color: #DBEDF3;


$font-text: 'Roboto', sans-serif;
$font-title: 'MuseoModerno',sans-serif;


.inputStyle{
    color: $forth-color;
    font-family: $font-text;
    font-size: 15px;
    width:  100%;
    max-width: 300px;
    min-width: 300px;
    padding: 5px;
    border-bottom: 3px solid $secondary-color;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: $primary-color;
    margin-bottom: 15px;
}
.inputStyle:disabled{
    cursor: not-allowed;
    background-color: gray;
    opacity: 50%;
 }
.inputStyle::placeholder{
    color: $forth-color;
    font-size: 16px;
    opacity: .5;
}
.inputStyle:focus{
    background-color: $primary-color;
}
